<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="limiter">
        <div class="login-container">
    <div class="wrap-login">
        <div class="login-form">
<h1 class="h1_login">Регистрация</h1>
<form action="/register" method="post">
    <div class="login-input-wrap">
        <input type="email" id="email" name="email" placeholder="email" class="login_input" required>
    </div>
    <br>
    <div class="login-input-wrap">
        <input type="password" id="password" name="password" placeholder="password" class="login_input" required>
    </div>
    <br>
    <div class="login-button-container">
    <button type="submit" class="login_button">Зарегистрироваться</button>
    </div>
</form>   
</div>
</div>
</div>
</div> 
</body>

</html>